.container {
  text-align: center;
  margin-top: 50px;
}

.word {
  display: flex;
  margin-top: 20px;
  margin-left: 10%;
}

.word img {
  width: 50px;
  height:50px;
  margin: 10% 1% 1% 1%;
  
}
.bg{
width: 500px;
  height: 749px;
}